# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

# CARLA生成数据
data/raw/
data/kitti/
data/debug/
data/sensor_test/

# 大型压缩包
*.zip
*.tar
*.tar.gz

# 系统文件
.DS_Store
Thumbs.db

# 日志和崩溃文件
*.log
core
core.*
